<ion-view view-title="Perfil">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableCadeirante">
        <img  src="https://wiki.nus.edu.sg/download/attachments/78152089/logo3.png?version=3&modificationDate=1301930353803&api=v2"  height="30" width="32"/> Continuo veloz
    </ion-toggle>
    </ion-list>
    <ion-list>
    <ion-toggle  ng-model="settings.enableDeficienteVisual">
        <img  src="http://images.all-free-download.com/images/graphiclarge/visually_impaired_symbol_clip_art_24489.jpg"  height="30" width="25"/> Enxergo o mundo do meu jeito
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
